/* line 2, ../sass/Admin.scss */
.dashboard-page-section .dashboard-page-section__top {
  justify-content: center; }
  /* line 4, ../sass/Admin.scss */
  .dashboard-page-section .dashboard-page-section__top .box-content {
    width: 200px;
    height: 100px;
    border-radius: 4px;
    margin: 20px 50px;
    background-size: cover;
    color: white;
    font-size: large;
    box-shadow: 0 0 8px 0 darkgray;
    cursor: pointer; }
    /* line 14, ../sass/Admin.scss */
    .dashboard-page-section .dashboard-page-section__top .box-content .box-content__body {
      padding: 20px;
      justify-content: space-between; }
      /* line 17, ../sass/Admin.scss */
      .dashboard-page-section .dashboard-page-section__top .box-content .box-content__body .text-large {
        font-size: 30px; }
  /* line 22, ../sass/Admin.scss */
  .dashboard-page-section .dashboard-page-section__top .blue {
    background-image: linear-gradient(to left bottom, #0061f2, #0088ff, #00a9ff, #00c7ff, #1ae1ff) !important; }
  /* line 32, ../sass/Admin.scss */
  .dashboard-page-section .dashboard-page-section__top .red {
    background-image: linear-gradient(to left bottom, #ff7171, #ff626c, #ff5168, #ff3d65, #ff1f63) !important; }
  /* line 42, ../sass/Admin.scss */
  .dashboard-page-section .dashboard-page-section__top .orange {
    background-image: linear-gradient(to left bottom, #ff9204, #ffac07, #ffc519, #ffde2f, #fff748) !important; }
/* line 53, ../sass/Admin.scss */
.dashboard-page-section .dashboard-page-section__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 300px; }
  /* line 68, ../sass/Admin.scss */
  .dashboard-page-section .dashboard-page-section__bottom .dashboard-page-section__right,
  .dashboard-page-section .dashboard-page-section__bottom .dashboard-page-section__left {
    height: 100%;
    border: 1px solid lightgray;
    background-color: white; }
    /* line 73, ../sass/Admin.scss */
    .dashboard-page-section .dashboard-page-section__bottom .dashboard-page-section__right .dashboard-page-section__menu,
    .dashboard-page-section .dashboard-page-section__bottom .dashboard-page-section__left .dashboard-page-section__menu {
      display: flex;
      flex-direction: column;
      width: 200px; }
      /* line 78, ../sass/Admin.scss */
      .dashboard-page-section .dashboard-page-section__bottom .dashboard-page-section__right .dashboard-page-section__menu a,
      .dashboard-page-section .dashboard-page-section__bottom .dashboard-page-section__left .dashboard-page-section__menu a {
        padding: 10px;
        border: 1px solid lightgray;
        width: 100%;
        color: #404040; }
      /* line 84, ../sass/Admin.scss */
      .dashboard-page-section .dashboard-page-section__bottom .dashboard-page-section__right .dashboard-page-section__menu a:hover,
      .dashboard-page-section .dashboard-page-section__bottom .dashboard-page-section__left .dashboard-page-section__menu a:hover {
        background-color: lightgray; }

/*# sourceMappingURL=Admin.css.map */
