/* line 1, ../sass/header.scss */
header {
  height: auto;
  padding: 10px 50px;
  width: 100%;
  background-color: #fefefe;
  box-shadow: 0 0 10px 0 darkgray; }

/* line 9, ../sass/header.scss */
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99; }

/* line 16, ../sass/header.scss */
.link_category {
  width: 100%;
  transition: all 0.25s ease-in-out; }

/* line 20, ../sass/header.scss */
.link_category:hover {
  border-radius: 10px;
  box-shadow: 0 0 8px 0 lightgray; }

/* line 24, ../sass/header.scss */
.dropdown {
  position: relative; }

/* line 27, ../sass/header.scss */
.dropdown-content {
  display: none; }

/* line 30, ../sass/header.scss */
.dropdown-content-active {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: #fefefe;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 4px 0 lightgray; }

@media (max-width: 768px) {
  /* line 46, ../sass/header.scss */
  form.search {
    display: none; } }
/* line 1, ../sass/carousel.scss */
.carousel {
  margin: 0 auto;
  height: 333px;
  max-width: 100%;
  position: relative;
  overflow: hidden; }

/* line 8, ../sass/carousel.scss */
.carousel_item {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

/* line 17, ../sass/carousel.scss */
.slide_img {
  width: 100%;
  object-fit: cover;
  transition: all 0.25s ease-in-out; }

/* line 22, ../sass/carousel.scss */
.left {
  position: absolute;
  left: 0;
  width: 5%;
  height: 100%;
  background-color: #7b7b7b;
  opacity: 30%;
  transition: all 0.2s ease-in-out; }

/* line 31, ../sass/carousel.scss */
.right {
  position: absolute;
  right: 0;
  width: 5%;
  height: 100%;
  background-color: #7b7b7b;
  opacity: 30%;
  transition: all 0.2s ease-in-out; }

/* line 40, ../sass/carousel.scss */
.right:hover,
.left:hover {
  opacity: unset;
  background-color: black; }

/* line 45, ../sass/carousel.scss */
.next,
.prev {
  background-color: unset;
  border: unset;
  outline: none; }

@media (max-width: 768px) {
  /* line 53, ../sass/carousel.scss */
  .carousel {
    display: none; } }
/* line 57, ../sass/carousel.scss */
.section-category-list {
  display: block;
  min-height: 302px;
  padding-top: 1.25rem; }
  /* line 61, ../sass/carousel.scss */
  .section-category-list .category-section__header {
    background: #fff;
    height: 3.75rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding: 0 1.25rem; }
    /* line 66, ../sass/carousel.scss */
    .section-category-list .category-section__header .category-section__header__title {
      font-size: 1.5rem;
      color: rgba(0, 0, 0, 0.54);
      font-weight: 500; }
  /* line 72, ../sass/carousel.scss */
  .section-category-list .category-section__content {
    display: block;
    height: 264px; }
    /* line 75, ../sass/carousel.scss */
    .section-category-list .category-section__content .image-carousel {
      width: 100%;
      height: 100%;
      position: relative; }
      /* line 79, ../sass/carousel.scss */
      .section-category-list .category-section__content .image-carousel .image-carousel__item-list-wrapper {
        height: 100%;
        overflow: hidden; }
        /* line 82, ../sass/carousel.scss */
        .section-category-list .category-section__content .image-carousel .image-carousel__item-list-wrapper .image-carousel__item-list {
          display: grid;
          grid-template-columns: repeat(11, 10%);
          grid-template-rows: repeat(11, 50%);
          position: relative;
          height: 100%;
          padding: 0;
          margin: 0;
          background: white; }
          /* line 91, ../sass/carousel.scss */
          .section-category-list .category-section__content .image-carousel .image-carousel__item-list-wrapper .image-carousel__item-list .image-carousel__item {
            padding: 0px;
            height: 100%;
            border: 0.5px solid #eeeeee; }
            /* line 95, ../sass/carousel.scss */
            .section-category-list .category-section__content .image-carousel .image-carousel__item-list-wrapper .image-carousel__item-list .image-carousel__item .item__inner {
              height: 100%; }
              /* line 97, ../sass/carousel.scss */
              .section-category-list .category-section__content .image-carousel .image-carousel__item-list-wrapper .image-carousel__item-list .image-carousel__item .item__inner .item__inner-title {
                width: 100%;
                overflow: hidden;
                height: 2.5rem;
                margin-bottom: 0.625rem;
                text-align: center; }
                /* line 103, ../sass/carousel.scss */
                .section-category-list .category-section__content .image-carousel .image-carousel__item-list-wrapper .image-carousel__item-list .image-carousel__item .item__inner .item__inner-title .item__inner-title-text {
                  color: rgba(0, 0, 0, 0.8);
                  font-size: 0.875rem;
                  text-decoration: none;
                  line-height: 1.25rem;
                  max-height: 2.5rem;
                  word-break: break-word;
                  overflow: hidden;
                  display: -webkit-box;
                  text-overflow: ellipsis;
                  -webkit-box-orient: vertical;
                  -webkit-line-clamp: 2; }
              /* line 117, ../sass/carousel.scss */
              .section-category-list .category-section__content .image-carousel .image-carousel__item-list-wrapper .image-carousel__item-list .image-carousel__item .item__inner .item__inner-img {
                height: 80%; }
                /* line 119, ../sass/carousel.scss */
                .section-category-list .category-section__content .image-carousel .image-carousel__item-list-wrapper .image-carousel__item-list .image-carousel__item .item__inner .item__inner-img .item__inner-img_inner {
                  height: 100%;
                  width: 100%;
                  background-size: contain !important;
                  background-repeat: no-repeat !important;
                  background-position: center !important; }

/* line 1, ../sass/card.scss */
.card {
  background-color: #fefefe;
  box-shadow: 0 0 10px 0 lightgray;
  width: 200px;
  height: 300px; }

/* line 9, ../sass/card.scss */
.card_img {
  width: 100%;
  height: 188px;
  overflow: visible;
  cursor: pointer;
  border: none;
  text-align: center;
  padding: 10px 10px 0 10px; }
  /* line 17, ../sass/card.scss */
  .card_img img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 3px 3px 0 0; }

/* line 26, ../sass/card.scss */
.card_body {
  padding: 0 10px 10px 10px; }
  /* line 28, ../sass/card.scss */
  .card_body .product-name {
    color: #404040;
    font-size: 12px; }

/* line 33, ../sass/card.scss */
.line {
  width: 180px;
  height: 2px;
  background-color: #707070;
  margin: 0 auto; }

/* line 39, ../sass/card.scss */
.price {
  font-size: 2rem;
  color: #FFC107; }

/* line 44, ../sass/card.scss */
.card:hover .text-title {
  color: #0090FF; }

/* line 1, ../sass/productScreen.scss */
.box-small {
  max-width: 10rem;
  width: 100%;
  box-shadow: 0 0 8px 0 lightgray;
  object-fit: contain; }

/* line 7, ../sass/productScreen.scss */
.text-description {
  color: #7a7575;
  font-size: 2.5rem; }

/* line 11, ../sass/productScreen.scss */
button {
  cursor: pointer; }

/* line 14, ../sass/productScreen.scss */
button.block {
  width: 100%; }

/* line 17, ../sass/productScreen.scss */
button.primary {
  background-color: #008cf8;
  color: white;
  padding: 10px;
  border-radius: 10px; }

/* line 23, ../sass/productScreen.scss */
button.normal {
  background-color: #fff;
  color: #404040;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid lightgray; }

/* line 30, ../sass/productScreen.scss */
button.primary:hover {
  filter: brightness(110%); }

/* line 33, ../sass/productScreen.scss */
button.normal:hover {
  filter: brightness(90%); }

/* line 36, ../sass/productScreen.scss */
.selector {
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  outline: none;
  background-color: transparent; }

/* line 44, ../sass/productScreen.scss */
.AddToCart {
  animation: wriggly 0.3s; }

@keyframes wriggly {
  0% {
    transform: rotate(45deg); }
  50% {
    transform: rotate(90deg); }
  100% {
    transform: rotate(0deg); } }
/* line 58, ../sass/productScreen.scss */
.product-image__large {
  width: 70%;
  height: 450px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  text-align: center; }
  /* line 66, ../sass/productScreen.scss */
  .product-image__large .product-image__large-inner {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: center !important; }

/* line 74, ../sass/productScreen.scss */
.product-image__small {
  width: 20%;
  height: 100px;
  padding: 5px;
  background-color: white;
  box-shadow: 0 0 4px 0 lightgray; }
  /* line 80, ../sass/productScreen.scss */
  .product-image__small .product-image__small-inner {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: center !important; }

/* line 88, ../sass/productScreen.scss */
.page-product__shop {
  width: 100%;
  padding: 20px; }
  /* line 91, ../sass/productScreen.scss */
  .page-product__shop .page-product__shop-left {
    border-right: 1px solid lightgray; }
    /* line 93, ../sass/productScreen.scss */
    .page-product__shop .page-product__shop-left .shop-avatar {
      position: relative;
      width: 5rem;
      height: 5rem;
      border: none;
      margin-right: 1.25rem;
      border-radius: 50%;
      background-size: cover !important;
      background-position: center !important;
      background-repeat: no-repeat !important; }
    /* line 104, ../sass/productScreen.scss */
    .page-product__shop .page-product__shop-left .shop-info {
      margin-bottom: 10px; }
    /* line 107, ../sass/productScreen.scss */
    .page-product__shop .page-product__shop-left .btn_shop {
      border: 1px solid lightgray;
      padding: 5px 10px;
      color: #404040; }
    /* line 112, ../sass/productScreen.scss */
    .page-product__shop .page-product__shop-left .btn_shop:hover {
      background-color: #f0f0f0; }

/* line 1, ../sass/Loading.scss */
.loadingBox {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #222428, #444856);
  color: white;
  font-size: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all ease-in-out 0.2s;
  z-index: 100; }

/* line 1, ../sass/cartScreen.scss */
.cart-page,
.cart-page-checkout {
  box-shadow: 0 0 8px 0 lightgray;
  padding: 30px;
  border-radius: 10px; }

/* line 7, ../sass/cartScreen.scss */
.cart-item-overview__thumbnail {
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  width: 8rem;
  height: 8rem; }

/* line 14, ../sass/cartScreen.scss */
.cart-page-header {
  border-bottom: 1px solid lightgray; }

/* line 17, ../sass/cartScreen.scss */
.image__content {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 8rem;
  height: 8rem; }

/* line 24, ../sass/cartScreen.scss */
.order-page-section__status,
.order-page-section__address,
.order-page-section__order,
.order-page-section__payment {
  border-bottom: 1px solid lightgray; }

/* line 30, ../sass/cartScreen.scss */
.order-page-section__payment__header {
  border-bottom: 1px dashed lightgray;
  padding-bottom: 20px; }

/* line 34, ../sass/cartScreen.scss */
.payment-form-section {
  margin: 0 auto;
  background-color: white;
  padding: 50px;
  box-shadow: 0 0 8px 0 lightgray;
  border-radius: 20px;
  width: 500px; }

/* line 1, ../sass/signinScreen.scss */
.signin-page-section, .signup-page-section {
  transition: all 0.2s ease-in-out; }

/* line 4, ../sass/signinScreen.scss */
.signin-form-section, .signup-form-section {
  background-color: white;
  padding: 50px;
  box-shadow: 0 0 8px 0 lightgray;
  border-radius: 20px;
  width: 500px; }

/* line 12, ../sass/signinScreen.scss */
.input_form {
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #707070;
  outline: none;
  width: 100%; }

/* line 19, ../sass/signinScreen.scss */
.text-title-form {
  font-size: 4rem;
  color: #00D1EC; }

/* line 23, ../sass/signinScreen.scss */
.text-sub-form {
  font-size: 1.8rem;
  color: #686868; }

/*Add Page*/
/* line 2, ../sass/sellerScreen.scss */
.seller-page-section {
  box-shadow: 0 0 8px 0 lightgray;
  border-radius: 10px; }

/* line 6, ../sass/sellerScreen.scss */
.seller-page-section__header {
  border-bottom: 1px solid lightgray; }

/* line 9, ../sass/sellerScreen.scss */
.input_wrap {
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  padding: 12px;
  flex-wrap: nowrap;
  background-color: white;
  flex-basis: 1000px;
  width: 1000px;
  max-width: 1000px; }

/* line 19, ../sass/sellerScreen.scss */
.input_wrap input {
  border: none;
  outline: none;
  width: 90%; }

/* line 24, ../sass/sellerScreen.scss */
.input__suffix {
  padding-left: 8px;
  border-left: 1px solid lightgray; }

/* line 28, ../sass/sellerScreen.scss */
.seller-page-categories__selector {
  background-color: #e8e8e8;
  box-shadow: 0 0 8px 0 darkgray; }

/* line 32, ../sass/sellerScreen.scss */
.scroll-item {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 320px;
  overflow-y: scroll;
  background-color: whitesmoke;
  box-shadow: 0 0 4px 0 darkgray; }

/* line 41, ../sass/sellerScreen.scss */
.input_wrap-normal {
  width: 30%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 4px 0 darkgray; }
  /* line 46, ../sass/sellerScreen.scss */
  .input_wrap-normal input {
    border: none;
    outline: none;
    background-color: none;
    width: 90%; }

/* line 53, ../sass/sellerScreen.scss */
.scroll-item li {
  cursor: pointer;
  flex: 1; }

/* line 57, ../sass/sellerScreen.scss */
.scroll-item li:hover {
  background-color: lightgray; }

@media screen and (max-width: 1200px) {
  /* line 61, ../sass/sellerScreen.scss */
  .input_wrap-normal {
    width: 100%; } }
/* line 66, ../sass/sellerScreen.scss */
.input-wrap {
  position: relative;
  line-height: 0;
  flex-basis: 1000px;
  width: 1000px;
  max-width: 1000px; }
  /* line 73, ../sass/sellerScreen.scss */
  .input-wrap .input-wrap_inner-large {
    position: relative;
    height: 40px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    padding: 0 12px;
    width: 100%; }
  /* line 81, ../sass/sellerScreen.scss */
  .input-wrap .input-wrap_input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    font-size: 14px;
    color: #666;
    transition: border 0.2s ease-in-out; }

/* line 91, ../sass/sellerScreen.scss */
.text-wrap {
  flex-basis: 166px;
  width: 166px;
  max-width: 166px; }

/* line 97, ../sass/sellerScreen.scss */
.textarea-wrap_inner-large {
  padding: 12px;
  width: 100%;
  overflow: auto;
  font-size: 14px;
  vertical-align: top;
  border: 0;
  outline: none;
  box-sizing: border-box;
  min-height: 124px;
  height: 198px;
  border: 1px solid #e5e5e5;
  border-radius: 4px; }
  /* line 110, ../sass/sellerScreen.scss */
  .textarea-wrap_inner-large .input-wrap_textarea {
    resize: none;
    color: #666;
    width: 100%;
    height: 100%;
    outline: none;
    border: none; }

/* line 119, ../sass/sellerScreen.scss */
.select-wrap_inner-large {
  width: 100%;
  border: 1px solid #e5e5e5;
  height: 40px; }
  /* line 124, ../sass/sellerScreen.scss */
  .select-wrap_inner-large .input-wrap_select {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    color: #666; }

/* line 132, ../sass/sellerScreen.scss */
.input_img::-webkit-file-upload-button {
  visibility: hidden; }

/* line 135, ../sass/sellerScreen.scss */
.image_input-wrap {
  position: relative;
  border: 1px dotted #008cf8;
  width: 115px;
  height: 115px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important; }
  /* line 143, ../sass/sellerScreen.scss */
  .image_input-wrap .image_input-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #008cf8; }
  /* line 150, ../sass/sellerScreen.scss */
  .image_input-wrap .input_img {
    opacity: 0;
    width: 100%;
    height: 100%; }

/*Seller Page*/
/* line 157, ../sass/sellerScreen.scss */
.sidebar-container {
  width: 220px;
  position: relative;
  z-index: 500; }
  /* line 161, ../sass/sellerScreen.scss */
  .sidebar-container .sidebar {
    position: fixed;
    width: inherit;
    left: 0;
    top: 58px;
    bottom: 0;
    min-height: 100vh;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0 0 1px lightgray; }
    /* line 172, ../sass/sellerScreen.scss */
    .sidebar-container .sidebar .sidebar-menu {
      padding: 16px 16px 0;
      background-color: #fff; }
      /* line 175, ../sass/sellerScreen.scss */
      .sidebar-container .sidebar .sidebar-menu .sidebar-menu-box {
        margin-bottom: 24px; }
        /* line 177, ../sass/sellerScreen.scss */
        .sidebar-container .sidebar .sidebar-menu .sidebar-menu-box .sidebar-menu-item {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-align: start;
          -ms-flex-align: start;
          justify-content: space-between;
          align-items: flex-start;
          color: #999;
          cursor: pointer;
          padding: 5px 0; }
        /* line 193, ../sass/sellerScreen.scss */
        .sidebar-container .sidebar .sidebar-menu .sidebar-menu-box .sidebar-submenu {
          margin-top: 10px;
          padding-left: 32px;
          overflow: hidden;
          -webkit-transition: height 0.2s ease;
          transition: height 0.2s ease;
          height: 0; }
          /* line 201, ../sass/sellerScreen.scss */
          .sidebar-container .sidebar .sidebar-menu .sidebar-menu-box .sidebar-submenu .sidebar-submenu-item {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            color: #333;
            font-size: 13px;
            line-height: 18px;
            padding: 5px 0; }
            /* line 216, ../sass/sellerScreen.scss */
            .sidebar-container .sidebar .sidebar-menu .sidebar-menu-box .sidebar-submenu .sidebar-submenu-item .sidebar-submenu-item-link {
              color: inherit;
              width: 100%; }

/* line 226, ../sass/sellerScreen.scss */
.submenu-active {
  height: 10rem !important; }

/*Mine Products*/
/* line 232, ../sass/sellerScreen.scss */
.product-list-main {
  position: relative;
  width: 100%; }

/* line 236, ../sass/sellerScreen.scss */
.product-grid-container {
  position: relative; }

/* line 239, ../sass/sellerScreen.scss */
.product-card-item {
  position: relative;
  width: 162px;
  height: 289px;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 0 0 1px #e5e5e5;
  color: #404040; }

/* line 248, ../sass/sellerScreen.scss */
.app-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }
  /* line 259, ../sass/sellerScreen.scss */
  .app-container .page-container {
    width: 100%; }

/* line 263, ../sass/sellerScreen.scss */
.product-actions {
  color: #404040; }
  /* line 265, ../sass/sellerScreen.scss */
  .product-actions a {
    color: inherit; }

/* line 1, ../sass/checkoutScreen.scss */
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem; }

/* line 7, ../sass/checkoutScreen.scss */
.checkout-steps > div.active {
  border-top-color: #008CF8;
  color: #008CF8;
  font-weight: bold; }

/* line 1, ../sass/Modal.scss */
.modal__mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4); }
  /* line 9, ../sass/Modal.scss */
  .modal__mask .modal__container {
    position: absolute;
    top: 40px;
    right: 0;
    bottom: 40px;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    /* line 24, ../sass/Modal.scss */
    .modal__mask .modal__container .modal__box {
      position: relative;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      max-height: 100%;
      padding: 0 24px;
      -webkit-transform-origin: top;
      transform-origin: top; }
      /* line 33, ../sass/Modal.scss */
      .modal__mask .modal__container .modal__box .modal__content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 400px;
        max-height: 100%;
        overflow-y: auto;
        background-color: #fff;
        border-radius: 3px;
        -webkit-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.12); }
        /* line 48, ../sass/Modal.scss */
        .modal__mask .modal__container .modal__box .modal__content .modal__header {
          flex-shrink: 0;
          min-height: 24px;
          padding: 24px; }
        /* line 53, ../sass/Modal.scss */
        .modal__mask .modal__container .modal__box .modal__content .modal__body {
          -webkit-box-flex: 1;
          -ms-flex-positive: 1;
          flex-grow: 1;
          min-height: 32px;
          padding: 0 24px;
          overflow: auto;
          font-size: 14px; }
          /* line 61, ../sass/Modal.scss */
          .modal__mask .modal__container .modal__box .modal__content .modal__body .modal__body-inner-bottom {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin: 10px 10px 4px 8px;
            color: #404040; }
            /* line 67, ../sass/Modal.scss */
            .modal__mask .modal__container .modal__box .modal__content .modal__body .modal__body-inner-bottom .modal__image {
              width: 80px;
              height: 80px;
              margin-right: 16px;
              border: 1px solid #e8e8e8; }
            /* line 73, ../sass/Modal.scss */
            .modal__mask .modal__container .modal__box .modal__content .modal__body .modal__body-inner-bottom .modal__name {
              -webkit-box-flex: 1;
              -ms-flex: 1;
              flex: 1;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              flex-direction: column;
              -webkit-box-align: flex-start;
              -ms-flex-align: flex-start;
              align-items: flex-start;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              font-size: 18px;
              border-bottom: 1px dashed #e8e8e8;
              overflow: hidden; }
        /* line 93, ../sass/Modal.scss */
        .modal__mask .modal__container .modal__box .modal__content .modal__footer {
          flex-shrink: 0;
          padding: 24px;
          overflow: hidden; }
          /* line 97, ../sass/Modal.scss */
          .modal__mask .modal__container .modal__box .modal__content .modal__footer .modal__footer-buttons {
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            float: right; }

/* line 1, ../sass/Pogination.scss */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center; }
  /* line 5, ../sass/Pogination.scss */
  .pagination .page-item {
    min-width: 2.5rem;
    text-align: center;
    height: 1.875rem;
    font-size: 1.25rem;
    margin-left: .9375rem;
    margin-right: .9375rem;
    font-size: 18px; }
  /* line 15, ../sass/Pogination.scss */
  .pagination .page-item-active {
    background-color: #0090ff; }

/* line 1, ../sass/EditUserScreen.scss */
.my-account-section {
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 30px 20px;
  background: #fff;
  overflow: visible;
  margin-top: 50px;
  box-shadow: 0 0 8px 0 lightgray; }
  /* line 17, ../sass/EditUserScreen.scss */
  .my-account-section .my-account-section__header {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #efefef;
    padding: 22px 0;
    height: 80px;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  /* line 29, ../sass/EditUserScreen.scss */
  .my-account-section .my-account-profile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-top: 30px; }
    /* line 41, ../sass/EditUserScreen.scss */
    .my-account-section .my-account-profile .my-account-profile__left {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -moz-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      padding-right: 50px;
      padding-top: 20px; }
      /* line 49, ../sass/EditUserScreen.scss */
      .my-account-section .my-account-profile .my-account-profile__left .input-with-label {
        margin-bottom: 30px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -moz-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        /* line 66, ../sass/EditUserScreen.scss */
        .my-account-section .my-account-profile .my-account-profile__left .input-with-label .input-with-label__label {
          width: 20%;
          text-align: right;
          color: rgba(85, 85, 85, 0.8);
          text-transform: capitalize;
          overflow: hidden;
          margin-right: 10px; }
        /* line 74, ../sass/EditUserScreen.scss */
        .my-account-section .my-account-profile .my-account-profile__left .input-with-label .input-with-label__content {
          width: 80%;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          padding-left: 1.25rem;
          border: 1px solid lightgray;
          padding: 7px; }
          /* line 81, ../sass/EditUserScreen.scss */
          .my-account-section .my-account-profile .my-account-profile__left .input-with-label .input-with-label__content input {
            webkit-box-flex: 1;
            -webkit-flex: 1;
            -moz-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            font-size: 14px;
            background: transparent;
            outline: none;
            box-shadow: none;
            border: none; }
  /* line 97, ../sass/EditUserScreen.scss */
  .my-account-section .my-account-profile__right {
    width: 17.5rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    border-left: 1px solid #efefef;
    flex-direction: column;
    padding-top: 20px; }
    /* line 113, ../sass/EditUserScreen.scss */
    .my-account-section .my-account-profile__right .avatar-uploader {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -moz-box-orient: vertical;
      -moz-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      /* line 131, ../sass/EditUserScreen.scss */
      .my-account-section .my-account-profile__right .avatar-uploader .avatar-uploader__avatar {
        height: 100px;
        width: 100px;
        margin: 20px 0;
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
        /* line 151, ../sass/EditUserScreen.scss */
        .my-account-section .my-account-profile__right .avatar-uploader .avatar-uploader__avatar .avatar-uploader__avatar-image {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          background-size: cover !important;
          background-position: center !important;
          background-repeat: no-repeat !important;
          cursor: pointer; }

@media (max-width: 600px) {
  /* line 166, ../sass/EditUserScreen.scss */
  .my-account-profile {
    flex-direction: column-reverse; } }
/* line 1, ../sass/SearchScreen.scss */
.sort-bar {
  font-weight: 400;
  background: rgba(0, 0, 0, 0.03);
  padding: 0.8125rem 1.25rem;
  border-radius: 2px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 40px;
  color: #404040; }
  /* line 23, ../sass/SearchScreen.scss */
  .sort-bar .sort-bar__label {
    color: #555;
    margin: 0 0.3125rem 0 0; }
  /* line 27, ../sass/SearchScreen.scss */
  .sort-bar .sort-by-options {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -moz-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    /* line 48, ../sass/SearchScreen.scss */
    .sort-bar .sort-by-options .sort-by-options__option {
      box-shadow: 0 1px 1px 0 white;
      height: 2.125rem;
      line-height: 2.125rem;
      border-radius: 2px;
      border: 0;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 5.625rem;
      -moz-box-flex: 0;
      -ms-flex: 0 0 5.625rem;
      flex: 0 0 5.625rem;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-transform: capitalize;
      padding: 15px 10px;
      background: #fff;
      white-space: nowrap;
      margin-left: 0.625rem;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    /* line 87, ../sass/SearchScreen.scss */
    .sort-bar .sort-by-options .sort-by-options__option--selected {
      color: #fff !important;
      background: #0090ff !important; }
  /* line 92, ../sass/SearchScreen.scss */
  .sort-bar .mini-page-controller {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  /* line 104, ../sass/SearchScreen.scss */
  .sort-bar .select-with-status {
    position: relative;
    width: 16rem;
    margin-left: 0.625rem;
    background: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer; }
    /* line 113, ../sass/SearchScreen.scss */
    .sort-bar .select-with-status .select-with-status__dropdown {
      visibility: hidden;
      margin: 0;
      padding: .625rem 0;
      border: 0;
      position: absolute;
      top: -webkit-calc(100% + 1px);
      top: calc(100% + 1px);
      left: 0;
      background: #fff;
      border: 1px solid rgba(0, 0, 0, 0.09);
      max-height: 16.875rem;
      z-index: 10000;
      width: 100%;
      overflow-y: auto;
      padding: 5px 0;
      margin: 0 -1px;
      border-radius: 2px; }
      /* line 131, ../sass/SearchScreen.scss */
      .sort-bar .select-with-status .select-with-status__dropdown .select-with-status__dropdown-item--with-tick {
        padding: 1rem .9375rem;
        cursor: pointer; }

/* line 1, ../sass/Table.scss */
.table-list-section {
  overflow-x: auto; }
  /* line 3, ../sass/Table.scss */
  .table-list-section .table-section {
    position: relative;
    border: 1px solid lightgray;
    width: 100%;
    margin: 30px 0;
    border-collapse: collapse;
    text-align: left;
    cursor: pointer;
    background-color: #fff; }
    /* line 12, ../sass/Table.scss */
    .table-list-section .table-section th,
    .table-list-section .table-section td {
      padding: 20px; }
    /* line 16, ../sass/Table.scss */
    .table-list-section .table-section tr {
      border-bottom: 1px solid lightgray; }
    /* line 19, ../sass/Table.scss */
    .table-list-section .table-section tr:hover {
      background-color: whitesmoke; }
    /* line 22, ../sass/Table.scss */
    .table-list-section .table-section .table-section__header {
      border: 1px solid lightgray; }
    /* line 25, ../sass/Table.scss */
    .table-list-section .table-section .table-section__body {
      font-size: 16px; }
      /* line 28, ../sass/Table.scss */
      .table-list-section .table-section .table-section__body .isPaid-status {
        padding: 10px;
        width: 110px;
        border-radius: 5px; }

/* line 36, ../sass/Table.scss */
.no-data {
  padding: 124px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #999;
  margin: 0 auto; }

/* line 2, ../sass/Admin.scss */
.dashboard-page-section .dashboard-page-section__top {
  justify-content: center; }
  /* line 4, ../sass/Admin.scss */
  .dashboard-page-section .dashboard-page-section__top .box-content {
    width: 200px;
    height: 100px;
    border-radius: 4px;
    margin: 20px 50px;
    background-size: cover;
    color: white;
    font-size: large;
    box-shadow: 0 0 8px 0 darkgray;
    cursor: pointer; }
    /* line 14, ../sass/Admin.scss */
    .dashboard-page-section .dashboard-page-section__top .box-content .box-content__body {
      padding: 20px;
      justify-content: space-between; }
      /* line 17, ../sass/Admin.scss */
      .dashboard-page-section .dashboard-page-section__top .box-content .box-content__body .text-large {
        font-size: 30px; }
  /* line 22, ../sass/Admin.scss */
  .dashboard-page-section .dashboard-page-section__top .blue {
    background-image: linear-gradient(to left bottom, #0061f2, #0088ff, #00a9ff, #00c7ff, #1ae1ff) !important; }
  /* line 32, ../sass/Admin.scss */
  .dashboard-page-section .dashboard-page-section__top .red {
    background-image: linear-gradient(to left bottom, #ff7171, #ff626c, #ff5168, #ff3d65, #ff1f63) !important; }
  /* line 42, ../sass/Admin.scss */
  .dashboard-page-section .dashboard-page-section__top .orange {
    background-image: linear-gradient(to left bottom, #ff9204, #ffac07, #ffc519, #ffde2f, #fff748) !important; }
/* line 53, ../sass/Admin.scss */
.dashboard-page-section .dashboard-page-section__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%; }
  /* line 70, ../sass/Admin.scss */
  .dashboard-page-section .dashboard-page-section__bottom .dashboard-page-section__right,
  .dashboard-page-section .dashboard-page-section__bottom .dashboard-page-section__left {
    height: 100%;
    border: 1px solid lightgray;
    background-color: white; }
    /* line 75, ../sass/Admin.scss */
    .dashboard-page-section .dashboard-page-section__bottom .dashboard-page-section__right .dashboard-page-section__menu,
    .dashboard-page-section .dashboard-page-section__bottom .dashboard-page-section__left .dashboard-page-section__menu {
      display: flex;
      flex-direction: column;
      height: 280px;
      width: 200px; }
      /* line 80, ../sass/Admin.scss */
      .dashboard-page-section .dashboard-page-section__bottom .dashboard-page-section__right .dashboard-page-section__menu a,
      .dashboard-page-section .dashboard-page-section__bottom .dashboard-page-section__left .dashboard-page-section__menu a {
        padding: 10px;
        border: 1px solid lightgray;
        width: 100%;
        color: #404040; }
      /* line 86, ../sass/Admin.scss */
      .dashboard-page-section .dashboard-page-section__bottom .dashboard-page-section__right .dashboard-page-section__menu a:hover,
      .dashboard-page-section .dashboard-page-section__bottom .dashboard-page-section__left .dashboard-page-section__menu a:hover {
        background-color: lightgray; }

/* line 2, ../sass/Footer.scss */
.footerRow {
  display: flex;
  flex-wrap: wrap; }

/* line 6, ../sass/Footer.scss */
ul {
  list-style: none; }

/* line 10, ../sass/Footer.scss */
.container-footer {
  max-width: 1170px;
  margin: auto; }

/* line 14, ../sass/Footer.scss */
.footer {
  background-color: #24262b;
  padding: 70px 0;
  margin-top: 100px; }

/* line 19, ../sass/Footer.scss */
.footer-col {
  width: 25%;
  padding: 0 15px; }

/* line 23, ../sass/Footer.scss */
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative; }

/* line 31, ../sass/Footer.scss */
.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px; }

/* line 41, ../sass/Footer.scss */
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px; }

/* line 44, ../sass/Footer.scss */
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease; }

/* line 54, ../sass/Footer.scss */
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px; }

/* line 58, ../sass/Footer.scss */
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease; }

/* line 70, ../sass/Footer.scss */
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff; }

/*responsive*/
@media (max-width: 767px) {
  /* line 77, ../sass/Footer.scss */
  .footer-col {
    width: 50%;
    margin-bottom: 30px; } }
@media (max-width: 574px) {
  /* line 83, ../sass/Footer.scss */
  .footer-col {
    width: 100%; } }
/* line 19, ../sass/App.scss */
html {
  font-size: 62.5%;
  /* 16px x 62.5 = 10px = 1rem */ }

/* line 22, ../sass/App.scss */
body {
  margin: 0;
  font-size: 1.6rem;
  font-family: myriad-arabic, sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6f6f6; }

/* line 31, ../sass/App.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* line 36, ../sass/App.scss */
li {
  list-style: none;
  padding: 0 20px; }

/* line 40, ../sass/App.scss */
li a {
  text-decoration: none; }

/* line 43, ../sass/App.scss */
a {
  text-decoration: none; }

/* line 46, ../sass/App.scss */
.text-title {
  color: #333;
  font-size: 3rem; }

/* line 50, ../sass/App.scss */
.text-center {
  text-align: center; }

/* line 53, ../sass/App.scss */
.text-capitalize {
  text-transform: capitalize; }

/* line 56, ../sass/App.scss */
.text-blue {
  color: #0090ff;
  font-size: 2rem;
  text-decoration: underline; }

/* line 61, ../sass/App.scss */
.text-underline {
  text-decoration: underline;
  text-decoration-color: #0090ff;
  text-underline-position: under; }

/* line 66, ../sass/App.scss */
.small_img {
  width: 30px; }

/* line 69, ../sass/App.scss */
.w-100 {
  width: 100% !important; }

/* line 72, ../sass/App.scss */
.p-1 {
  padding: 10px; }

/* line 75, ../sass/App.scss */
.p-2 {
  padding: 20px; }

/* line 78, ../sass/App.scss */
.p-3 {
  padding: 30px; }

/* line 81, ../sass/App.scss */
.px-1 {
  padding: 0 10px; }

/* line 84, ../sass/App.scss */
.py-1 {
  padding: 10px 0; }

/* line 87, ../sass/App.scss */
.py-2 {
  padding: 20px 0; }

/* line 90, ../sass/App.scss */
.py-3 {
  padding: 30px 0; }

/* line 93, ../sass/App.scss */
.py-5 {
  padding: 50px 0; }

/* line 96, ../sass/App.scss */
.pt-1 {
  padding-top: 10px; }

/* line 99, ../sass/App.scss */
.pt-3 {
  padding-top: 30px; }

/* line 102, ../sass/App.scss */
.pl-2 {
  padding-left: 10px; }

/* line 105, ../sass/App.scss */
.pr-1 {
  padding-right: 20px; }

/* line 108, ../sass/App.scss */
.pr-2 {
  padding-right: 20px; }

/* line 111, ../sass/App.scss */
.m-1 {
  margin: 10; }

/* line 114, ../sass/App.scss */
.m-05 {
  margin: 5px; }

/* line 117, ../sass/App.scss */
.m-01 {
  margin: 1px; }

/* line 120, ../sass/App.scss */
.m-2 {
  margin: 20px; }

/* line 123, ../sass/App.scss */
.my-2 {
  margin: 20px 0; }

/* line 126, ../sass/App.scss */
.my-1 {
  margin: 10px 0; }

/* line 129, ../sass/App.scss */
.mx-1 {
  margin: 0 10px; }

/* line 132, ../sass/App.scss */
.mt-1 {
  margin-top: 10px; }

/* line 135, ../sass/App.scss */
.mt-4 {
  margin-top: 40px; }

/* line 138, ../sass/App.scss */
.text-bold {
  font-weight: bolder; }

/* line 141, ../sass/App.scss */
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }

/* line 148, ../sass/App.scss */
.col-1 {
  flex: 1 1 25rem; }

/* line 151, ../sass/App.scss */
.col-2 {
  flex: 2 1 50rem; }

/* line 154, ../sass/App.scss */
.d-flex {
  display: flex; }

/* line 157, ../sass/App.scss */
.flex-column {
  flex-direction: column; }

/* line 160, ../sass/App.scss */
.flex-end {
  justify-content: flex-end; }

/* line 163, ../sass/App.scss */
.flex-start {
  justify-content: flex-start; }

/* line 166, ../sass/App.scss */
.align-center {
  align-items: center; }

/* line 169, ../sass/App.scss */
.align-start {
  align-items: flex-start; }

/* line 172, ../sass/App.scss */
.space-evenly {
  justify-content: space-evenly; }

/* line 175, ../sass/App.scss */
.no-wrap {
  flex-wrap: nowrap; }

/* line 178, ../sass/App.scss */
.center {
  justify-content: center; }

/* line 181, ../sass/App.scss */
img.medium {
  width: 50%; }

/* line 184, ../sass/App.scss */
.container {
  position: relative;
  margin: 0 auto;
  min-height: 100vh; }

/* line 189, ../sass/App.scss */
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border: 0.5rem;
  margin: 10px 0; }

/* line 195, ../sass/App.scss */
.error {
  color: #a02020; }

/* line 198, ../sass/App.scss */
.success {
  color: #20a020; }

/* line 201, ../sass/App.scss */
.loading {
  color: #007ff4; }

/* line 204, ../sass/App.scss */
.alert-loading {
  color: #007ff4;
  background-color: #e6efff; }

/* line 208, ../sass/App.scss */
.alert-success {
  color: #20a020;
  background-color: #def8d6; }

/* line 212, ../sass/App.scss */
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff; }

/* line 216, ../sass/App.scss */
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0e0; }

/* line 220, ../sass/App.scss */
button.edit {
  color: #007ff4;
  background-color: #e6efff;
  padding: 10px;
  width: 50%;
  border-radius: 5px; }

/* line 227, ../sass/App.scss */
button.delete {
  color: #a02020;
  background-color: #ffe0e0e0;
  padding: 10px;
  width: 50%;
  border-radius: 5px; }

/* line 234, ../sass/App.scss */
.badge {
  background-color: #f02020;
  color: white;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem; }

/* line 242, ../sass/App.scss */
button {
  outline: none;
  border: none;
  background-color: inherit; }

/* line 247, ../sass/App.scss */
.bg-white {
  background-color: white;
  box-shadow: 0 0 8px 0 lightgray;
  border-radius: 10px; }

/* line 252, ../sass/App.scss */
.pointer {
  cursor: pointer; }

/* line 255, ../sass/App.scss */
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis; }

/* line 259, ../sass/App.scss */
.wrapper-btn {
  text-align: center; }
  /* line 261, ../sass/App.scss */
  .wrapper-btn .btn_seeMore {
    border: 1px solid lightgray;
    padding: 10px 20px;
    border-radius: 3px;
    color: #404040; }
  /* line 269, ../sass/App.scss */
  .wrapper-btn .btn_seeMore:hover {
    background-color: lightgray; }

/* line 273, ../sass/App.scss */
.avatar {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  border-radius: 50%;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important; }

/* line 282, ../sass/App.scss */
.searchbar {
  display: flex;
  flex-direction: row;
  height: 3rem;
  border: 1px solid lightgray;
  padding: 3px;
  border-radius: 3px;
  box-shadow: 0 0 2px 0 lightgray; }
  /* line 290, ../sass/App.scss */
  .searchbar .searchbar-main {
    flex: 1;
    background-color: white; }
    /* line 294, ../sass/App.scss */
    .searchbar .searchbar-main input {
      outline: none;
      border: none;
      height: 100%;
      width: 100%; }
  /* line 301, ../sass/App.scss */
  .searchbar button {
    background: #007ff4;
    color: white;
    padding: 4px;
    border-radius: 3px; }

@media (min-width: 576px) {
  /* line 311, ../sass/App.scss */
  .container {
    max-width: 100%; } }
@media (min-width: 768px) {
  /* line 317, ../sass/App.scss */
  .container {
    max-width: 720px; } }
@media (min-width: 992px) {
  /* line 323, ../sass/App.scss */
  .container {
    max-width: 960px; } }
@media (min-width: 1200px) {
  /* line 329, ../sass/App.scss */
  .container {
    max-width: 1280px; } }
@media (max-width: 1200px) {
  /* line 336, ../sass/App.scss */
  .wrapper-products {
    justify-content: center !important; } }

/*# sourceMappingURL=App.css.map */
