.dashboard-page-section {
  .dashboard-page-section__top {
    justify-content: center;
    .box-content {
      width: 200px;
      height: 100px;
      border-radius: 4px;
      margin: 20px 50px;
      background-size: cover;
      color: white;
      font-size: large;
      box-shadow: 0 0 8px 0 darkgray;
      cursor: pointer;
      .box-content__body {
        padding: 20px;
        justify-content: space-between;
        .text-large {
          font-size: 30px;
        }
      }
    }
    .blue {
      background-image: linear-gradient(
        to left bottom,
        #0061f2,
        #0088ff,
        #00a9ff,
        #00c7ff,
        #1ae1ff
      ) !important;
    }
    .red {
      background-image: linear-gradient(
        to left bottom,
        #ff7171,
        #ff626c,
        #ff5168,
        #ff3d65,
        #ff1f63
      ) !important;
    }
    .orange {
      background-image: linear-gradient(
        to left bottom,
        #ff9204,
        #ffac07,
        #ffc519,
        #ffde2f,
        #fff748
      ) !important;
    }
  }
  .dashboard-page-section__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    .dashboard-page-section__right,
    .dashboard-page-section__left {
      height: 100%;
      border: 1px solid lightgray;
      background-color: white;
      .dashboard-page-section__menu {
        display: flex;
        flex-direction: column;
        height: 280px;
        width: 200px;
        a {
          padding: 10px;
          border: 1px solid lightgray;
          width: 100%;
          color: #404040;
        }
        a:hover {
          background-color: lightgray;
        }
      }
    }
  }
}
