@import "header";
@import "carousel";
@import "card";
@import "productScreen";
@import "Loading";
@import "cartScreen";
@import "signinScreen";
@import "sellerScreen";
@import "checkoutScreen";
@import "Modal";
@import "Pogination";
@import "EditUserScreen";
@import "SearchScreen";
@import "Table";
@import "Admin";
@import 'Footer';
@import 'Bill';


html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
}
body {
  margin: 0;
  font-size: 1.6rem;
  font-family: myriad-arabic, sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6f6f6;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
  padding: 0 20px;
}
li a {
  text-decoration: none;
}
a {
  text-decoration: none;
}
.text-title {
  color: #333;
  font-size: 3rem;
}
.text-center {
  text-align: center;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-blue {
  color: #0090ff;
  font-size: 2rem;
  text-decoration: underline;
}
.text-underline {
  text-decoration: underline;
  text-decoration-color: #0090ff;
  text-underline-position: under;
}
.small_img {
  width: 30px;
}
.w-100 {
  width: 100% !important;
}
.p-1 {
  padding: 10px;
}
.p-2 {
  padding: 20px;
}
.p-3 {
  padding: 30px;
}
.px-1 {
  padding: 0 10px;
}
.py-1 {
  padding: 10px 0;
}
.py-2 {
  padding: 20px 0;
}
.py-3 {
  padding: 30px 0;
}
.py-5 {
  padding: 50px 0;
}
.pt-1 {
  padding-top: 10px;
}
.pt-3 {
  padding-top: 30px;
}
.pl-2 {
  padding-left: 10px;
}
.pr-1 {
  padding-right: 20px;
}
.pr-2 {
  padding-right: 20px;
}
.pl-1{
  padding-left: 10px;
}
.m-1 {
  margin: 10;
}
.m-05{
  margin: 5px;
}
.m-01{
  margin: 1px;
}
.m-2 {
  margin: 20px;
}
.my-2 {
  margin: 20px 0;
}
.my-1 {
  margin: 10px 0;
}
.mx-1 {
  margin: 0 10px;
}
.mt-1 {
  margin-top: 10px;
}
.mt-4 {
  margin-top: 40px;
}
.ml-1{
  margin-left: 10px;
}
.text-bold {
  font-weight: bolder;
}
.inline-flex{
  display: inline-flex;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.col{
  display: flex;
  flex-direction: column;
}
.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
}
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-end {
  justify-content: flex-end;
}
.flex-start {
  justify-content: flex-start;
}
.align-center {
  align-items: center;
}
.align-start {
  align-items: flex-start;
}
.space-evenly {
  justify-content: space-evenly;
}
.no-wrap {
  flex-wrap: nowrap;
}
.center {
  justify-content: center;
}

img.medium {
  width: 50%;
}
.container {
  position: relative;
  margin: 0 auto;
  min-height: 100vh;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border: 0.5rem;
  margin: 10px 0;
}
.error {
  color: #a02020;
}
.success {
  color: #20a020;
}
.loading {
  color: #007ff4;
}
.alert-loading {
  color: #007ff4;
  background-color: #e6efff;
}
.alert-success {
  color: #20a020;
  background-color: #def8d6;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0e0;
}
button.edit{
  color: #007ff4;
  background-color: #e6efff;
  padding: 10px;
  width: 50%;
  border-radius: 5px;
}
button.delete{
  color: #a02020;
  background-color: #ffe0e0e0;
  padding: 10px;
  width: 50%;
  border-radius: 5px;
}
.badge {
  background-color: #f02020;
  color: white;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}
button {
  outline: none;
  border: none;
  background-color: inherit;
}
.bg-white {
  background-color: white;
  box-shadow: 0 0 8px 0 lightgray;
  border-radius: 10px;
}
.pointer {
  cursor: pointer;
}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
}
.wrapper-btn{
  text-align: center;
  .btn_seeMore{
    border: 1px solid lightgray;
    padding: 10px 20px ;
    border-radius: 3px;
    color: #404040;
    
  }
  
.btn_seeMore:hover{
  background-color: lightgray;
}
}
.avatar{
  width: 30px;
  height: 30px;
  margin-right: 5px;
  border-radius: 50%;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
.searchbar{
  display: flex;
  flex-direction: row;
  height: 3rem;
  border: 1px solid lightgray;
  padding: 3px;
  border-radius: 3px;
  box-shadow: 0 0 2px 0 lightgray;
  .searchbar-main{
    flex: 1;
    background-color: white;
  
    input{
      outline: none;
      border: none;
      height: 100%;
      width: 100%;
    }
  }
  button{
    background: #007ff4;
    color: white;
    padding: 4px;
    border-radius: 3px;
  }
}
.date-picker{
  width: 240px;
  margin-top: 10px;
  .date-picker__input{
    border: 1px solid #e5e5e5;
      border-radius: 4px;
      outline: none;
      -webkit-transition: border .2s ease-in-out;
      transition: border .2s ease-in-out;
      position: relative;
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 7px 12px;
      font-size: 14px;
      line-height: 16px;
      color: #333;
      cursor: pointer;
      background-color: #fff;
      border-collapse: separate;
      border-spacing: 0;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
  }
}
.daterange-picker-panel{
  position: absolute;
    z-index: 100;
    will-change: top, left;
    transform-origin: right bottom;
    top: 60px;
    left: 300px;

    .daterange-picker-panel__body{
      display: flex;
      background: white;
      padding: 10px;
      box-shadow: 0 0 4px 0 lightgray;
    }
}


@media (min-width: 576px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1280px;
  }
}


@media (max-width: 1200px){
  .wrapper-products{
    justify-content: center !important;
  }
}

