.cart-page,
.cart-page-checkout {
  box-shadow: 0 0 8px 0 lightgray;
  padding: 30px;
  border-radius: 10px;
}
.cart-item-overview__thumbnail {
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  width: 8rem;
  height: 8rem;
}
.cart-page-header {
  border-bottom: 1px solid lightgray;
}
.image__content {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 8rem;
  height: 8rem;
}
.order-page-section__status,
.order-page-section__address,
.order-page-section__order,
.order-page-section__payment {
  border-bottom: 1px solid lightgray;
}
.order-page-section__payment__header{
  border-bottom: 1px dashed lightgray;
  padding-bottom: 20px;
}
.payment-form-section{
  margin: 0 auto;
  background-color: white;
  padding: 50px;
  box-shadow: 0 0 8px 0 lightgray;
  border-radius: 20px;
  width: 500px;
}
.cart-page-section__item{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .cart-page-section__description{
    flex: 3 1 ;
    text-align: center;
  }
  .cart-page-section__price{
    flex: 1 1 ;
    text-align: center;
  }
  .cart-page-section__actions{
    flex: 1 1 ;
    text-align: center;
  }
  .cart-page-section__qty{
    flex: 1 1 ;
    text-align: left;
    
  }
  
}