header {
  height: auto;
  padding: 10px 50px;
  width: 100%;
  background-color: #fefefe;
  box-shadow: 0 0 10px 0 darkgray;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}
.link_category {
  width: 100%;
  transition: all 0.25s ease-in-out;
}
.link_category:hover {
  border-radius: 10px;
  box-shadow: 0 0 8px 0 lightgray;
}
.dropdown {
  position: relative;
}
.dropdown-content {
  display: none;
}
.dropdown-content-active {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: #fefefe;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 4px 0 lightgray;
}

@media (max-width: 768px){
  form.search{
    display: none;
  }
}