.seller-page-section {
  box-shadow: 0 0 8px 0 lightgray;
  border-radius: 10px;
}
.seller-page-section__header {
  border-bottom: 1px solid lightgray;
}
.input_wrap {
  border: 1px solid #008cf8;
  border-radius: 10px;
  flex: 1;
  margin-left: 10px;
  padding: 15px;
  font-size: 1.8rem;
  flex-wrap: nowrap;
}
.input_wrap input {
  border: none;
  outline: none;
  width: 95%;
}
.input__suffix {
  padding-left: 8px;
  border-left: 1px solid lightgray;
}
.seller-page-categories__selector {
  background-color: #e8e8e8;
  box-shadow: 0 0 8px 0 darkgray;
}
.scroll-item {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 320px;
  overflow-y: scroll;
  background-color: whitesmoke; 
  box-shadow: 0 0 4px 0 darkgray;

}
.input_wrap-normal {
  width: 30%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 4px 0 darkgray;
  input {
    border: none;
    outline: none;
    background-color: none;
    width: 90%;
  }
}
.scroll-item li{
  cursor: pointer;
  flex: 1;
}
.scroll-item li:hover{
  background-color: lightgray;
}
@media screen and (max-width:1200px){
  .input_wrap-normal{
    width: 100%;
  }
}